RBP/NodeRed_nodes.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Sensor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e562a4a.39a9e58",
        "type": "ui_tab",
        "name": "Weather Sensor Data",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b3368381aff913c0",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f00630a9f4787083",
        "type": "ui_group",
        "name": "Jacket1",
        "tab": "e562a4a.39a9e58",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ec87f89e0f9cd52f",
        "type": "ui_group",
        "name": "Jacket2",
        "tab": "e562a4a.39a9e58",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e0b6598fd1203b0",
        "type": "ui_group",
        "name": "Jacket3",
        "tab": "e562a4a.39a9e58",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "28652acf750469cf",
        "type": "ui_tab",
        "name": "Stretch Sensor Data",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ef983b97d325fda8",
        "type": "ui_group",
        "name": "Jacket1",
        "tab": "28652acf750469cf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ea517274771a3e9",
        "type": "ui_group",
        "name": "Jacket2",
        "tab": "28652acf750469cf",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "beb928088366b8f5",
        "type": "ui_group",
        "name": "Jacket3",
        "tab": "28652acf750469cf",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4e86a6ed791bb4bd",
        "type": "MySQLdatabase",
        "name": "mysql database link",
        "host": "localhost",
        "port": "3306",
        "db": "flexdata",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "c55aa5ac33f9c9e6",
        "type": "ui_tab",
        "name": "All data vieuw",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc54139c87b113c2",
        "type": "ui_group",
        "name": "Jacket1",
        "tab": "c55aa5ac33f9c9e6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "abf2ab759c767eb3",
        "type": "ui_group",
        "name": "Jacket2 average",
        "tab": "c55aa5ac33f9c9e6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d5a9facbdbaed5d6",
        "type": "ui_group",
        "name": "Jacket3 average",
        "tab": "c55aa5ac33f9c9e6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "20e88339df9beb70",
        "type": "udp in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "iface": "",
        "port": "49152",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 280,
        "y": 340,
        "wires": [
            [
                "6dc0e7a530d6658a",
                "62249ad7a68ab01c"
            ]
        ]
    },
    {
        "id": "6dc0e7a530d6658a",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "62249ad7a68ab01c",
                "960259dcfb8427dc",
                "3eb8f56fb256519a",
                "e52d7978f986fbe8",
                "42094d6d3dc92c81",
                "20e52450f1179bfd",
                "f62e595faaa660bf",
                "47834aa1faafd50f",
                "71cbd2d6b0507427",
                "67680fc58c4c7311",
                "4911ef9e2026c030",
                "7e3bab9bb79fa9e2",
                "20c0f2416e53a604",
                "fd7ddac7c9703dd0"
            ]
        ]
    },
    {
        "id": "62249ad7a68ab01c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 500,
        "wires": []
    },
    {
        "id": "483ffaef51cb7b9a",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f00630a9f4787083",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0096ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 320,
        "wires": []
    },
    {
        "id": "b0842e8eabe9d28c",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f00630a9f4787083",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Pressure",
        "label": "mBar",
        "format": "{{value|number:2}}",
        "min": "600",
        "max": "1200",
        "colors": [
            "#929292",
            "#00f900",
            "#fffb00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 380,
        "wires": []
    },
    {
        "id": "960259dcfb8427dc",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp100",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 260,
        "wires": [
            [
                "9b34e09f18557b42"
            ]
        ]
    },
    {
        "id": "3eb8f56fb256519a",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hum100",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 320,
        "wires": [
            [
                "483ffaef51cb7b9a"
            ]
        ]
    },
    {
        "id": "e52d7978f986fbe8",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pres100",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 380,
        "wires": [
            [
                "b0842e8eabe9d28c"
            ]
        ]
    },
    {
        "id": "9b34e09f18557b42",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f00630a9f4787083",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "°C",
        "format": "{{value|number:2}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#0096ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 260,
        "wires": []
    },
    {
        "id": "6444e6704594b051",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "ec87f89e0f9cd52f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0096ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 520,
        "wires": []
    },
    {
        "id": "76db8016bdaa85ff",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "ec87f89e0f9cd52f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Pressure",
        "label": "mBar",
        "format": "{{value|number:2}}",
        "min": "600",
        "max": "1200",
        "colors": [
            "#929292",
            "#00f900",
            "#fffb00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 580,
        "wires": []
    },
    {
        "id": "42094d6d3dc92c81",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp200",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 460,
        "wires": [
            [
                "c43122967b76aecf"
            ]
        ]
    },
    {
        "id": "20e52450f1179bfd",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hum200",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 520,
        "wires": [
            [
                "6444e6704594b051"
            ]
        ]
    },
    {
        "id": "f62e595faaa660bf",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pres200",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 580,
        "wires": [
            [
                "76db8016bdaa85ff"
            ]
        ]
    },
    {
        "id": "c43122967b76aecf",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "ec87f89e0f9cd52f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "°C",
        "format": "{{value|number:2}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#0096ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 460,
        "wires": []
    },
    {
        "id": "ea0713e679de4c50",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3e0b6598fd1203b0",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0096ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 720,
        "wires": []
    },
    {
        "id": "1f9bcc8a91a9c650",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3e0b6598fd1203b0",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Pressure",
        "label": "mBar",
        "format": "{{value|number:2}}",
        "min": "600",
        "max": "1200",
        "colors": [
            "#929292",
            "#00f900",
            "#fffb00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 780,
        "wires": []
    },
    {
        "id": "47834aa1faafd50f",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp300",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 660,
        "wires": [
            [
                "5cb82b4b12a12833"
            ]
        ]
    },
    {
        "id": "71cbd2d6b0507427",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hum300",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 720,
        "wires": [
            [
                "ea0713e679de4c50"
            ]
        ]
    },
    {
        "id": "67680fc58c4c7311",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pres300",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 780,
        "wires": [
            [
                "1f9bcc8a91a9c650"
            ]
        ]
    },
    {
        "id": "5cb82b4b12a12833",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3e0b6598fd1203b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "°C",
        "format": "{{value|number:2}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#0096ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 660,
        "wires": []
    },
    {
        "id": "4911ef9e2026c030",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Stretch",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.stretch100",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 80,
        "wires": [
            [
                "f69e19171b8f9a69"
            ]
        ]
    },
    {
        "id": "f69e19171b8f9a69",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "ef983b97d325fda8",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Stretch",
        "label": "%",
        "format": "{{value|number:2}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0096ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 80,
        "wires": []
    },
    {
        "id": "7e3bab9bb79fa9e2",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Stretch",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 140,
        "wires": [
            [
                "3b5b07d7bbc2def0"
            ]
        ]
    },
    {
        "id": "3b5b07d7bbc2def0",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "4ea517274771a3e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Stretch",
        "label": "%",
        "format": "{{value|number:2}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0096ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 140,
        "wires": []
    },
    {
        "id": "20c0f2416e53a604",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Stretch",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 200,
        "wires": [
            [
                "95d16a80456ad194"
            ]
        ]
    },
    {
        "id": "95d16a80456ad194",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "beb928088366b8f5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Stretch",
        "label": "%",
        "format": "{{value|number:2}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0096ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "efc349895fb089ba",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "4e86a6ed791bb4bd",
        "name": "mysql database link",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "1f95e6c61745c78b",
                "16113b92046df938",
                "eb7d5836a1f3e728"
            ]
        ]
    },
    {
        "id": "1f95e6c61745c78b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "fd7ddac7c9703dd0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "sent to mysql",
        "func": "msg.topic = \"INSERT INTO stretch_data(node_id, stretch)\" +\n    \"VALUES ('\" +msg.payload.node100+ \"', '\" +msg.payload.stretch100+\"');\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 160,
        "wires": [
            [
                "efc349895fb089ba"
            ]
        ]
    },
    {
        "id": "117a9b742994aaa7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Get mysql data node1",
        "func": "msg.topic = \"SELECT AVG(stretch), MIN(stretch), MAX(stretch), MAX(id) FROM stretch_data WHERE node_id = '1'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 80,
        "wires": [
            [
                "efc349895fb089ba"
            ]
        ]
    },
    {
        "id": "5607399675a32636",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "ef983b97d325fda8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Average stretch",
        "label": "%",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "782432ec4efba45b",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.78",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "117a9b742994aaa7"
            ]
        ]
    },
    {
        "id": "eb7d5836a1f3e728",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "AVG stretch",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].AVG(stretch)",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 40,
        "wires": [
            [
                "5607399675a32636"
            ]
        ]
    },
    {
        "id": "98b9deae9cdd7f17",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "4ea517274771a3e9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Average stretch",
        "label": "%",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "b8764d9759ad2242",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "beb928088366b8f5",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Average stretch",
        "label": "%",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "53ebaa7c7b375d31",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "MIN stretch",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].MIN(stretch)",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "98b9deae9cdd7f17"
            ]
        ]
    },
    {
        "id": "189bd82b4f777d1c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "MAX stretch",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].MAX(stretch)",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "b8764d9759ad2242"
            ]
        ]
    },
    {
        "id": "16113b92046df938",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Stretch counter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].MAX(id)",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 160,
        "wires": [
            [
                "809062c0620a3033"
            ]
        ]
    },
    {
        "id": "809062c0620a3033",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "ef983b97d325fda8",
        "order": 2,
        "width": "6",
        "height": "4",
        "name": "",
        "label": "Stretch Counter :",
        "format": "{{msg.payload}}  stretches",
        "layout": "col-center",
        "className": "",
        "x": 810,
        "y": 160,
        "wires": []
    }
]